.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-div{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    /* border: 2px dashed #263558; */
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 0;
}
.bi-coin{
    color: #FFB93F;
}
.form-div{
    box-shadow: 1px 1px 5px #ccc;
    padding: 50px 80px;
    margin: 50px 0;
    border-radius: 20px;
    color:#263558 ;
    width: 550.25px;
    background-color: #EBF2FA;
}
.form-div p{
    margin-bottom: 0;
}
.form-div button{
    border-radius: 20px;
    background-color: #FFB93F;
    color: #fff;
    border: 1px solid #FFB93F;
    padding: 0px 10px;
    width: 100%;
    font-size: 22px;
    margin: 10px 0;
}
.form-div button:hover{
    color: #FFB93F;
    background-color: #fff;
    border: 1px solid #FFB93F;
}
.form-div .solgan{
    color: #FFB93F;
    font-size: 18px;
    font-weight: 600;
}
form{
    margin-top:25px
}
.alert-success p{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}
.alert{
    position: relative;
    padding: 1rem 0rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}


/*Responsive*/
@media (max-width:580px) {
    .form-div{
        box-shadow: 1px 1px 5px #ccc;
        padding: 50px 20px;
        margin: 50px 0;
        border-radius: 20px;
        color: #263558;
        width: 90%;
        background-color: #EBF2FA;
    }
    .current-div{
        font-size: 14px;
    }
}



